package templates

import "github.com/svbrodersen/mySite/views/components"

templ ContactMain() {
<h1>Contact</h1>
<div class="primary-content">
	@components.ContactForm(false)
</div>
}

templ Contact(patch bool) {
if patch {
@ContactMain()
} else {
@BaseLayout() {
@ContactMain()
}
}
}
