package templates

templ CvMain() {
	<h1>My CV</h1>
	<embed id="cv-embed" src="/static/cv.pdf" width="90%" height="85%"/>
}

templ Cv(patch bool) {
	if patch {
		@CvMain()
	} else {
		@BaseLayout() {
			@CvMain()
		}
	}
}
