package templates

templ CvMain() {
<h1>My CV</h1>
<embed id="cv-embed" src="/static/cv.pdf" class="primary-content h-5/6 w-full" />
}

templ Cv(patch bool) {
if patch {
@CvMain()
} else {
@BaseLayout() {
@CvMain()
}
}
}
