package templates

import (
	"github.com/svbrodersen/mySite/views/components"
)

templ Login(value string) {
	if value == "fail" {
		@components.LoginForm(true)
	} else if value == "success" {
		<p>
			Login successful.
		</p>
	} else {
		@BaseLayout() {
			@components.LoginForm(false)
		}
	}
}
