:root {
    --accent-color: #BB86FC;
    --highlight-color: #4CAF50;
}

html,
html[data-theme="light"] {
    color-scheme: light;
    --surface-color: #e4e5f1;
    --hover-background: rgba(55, 87, 200, 0.20);
    --text-primary-color: black;
    --text-secondary-color: black;
    --background-color: #FFFFFF;
}

html[data-theme="dark"] {
    color-scheme: dark;
    --surface-color: #1E1E1E;
    --hover-background: rgba(55, 55, 55, 0.70);
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #B0B0B0;
    --background-color: #121212;
    --primary-color: #1E1E2E;
    --secondary-color: #2D2D44;
}

@media (prefers-color-scheme: dark) {
    html:not([data-theme]) {
        color-scheme: dark;
        --surface-color: #1E1E1E;
        --hover-background: rgba(55, 55, 55, 0.70);
        --text-primary-color: #FFFFFF;
        --text-secondary-color: #B0B0B0;
        --background-color: #121212;
        --primary-color: #1E1E2E;
        --secondary-color: #2D2D44;
    }
}

body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

header {
    background-color: var(--surface-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header a {
    color: var(--text-primary-color);
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.primary-nav {
    display: flex;
    justify-content: center;
    cursor: default;
    gap: 20px;
}

.primary-nav ul {
    display: flex;
}

.primary-nav li {
    list-style: none;
}

.primary-nav a {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-nav a:hover {
    background-color: var(--accent-color);
}

/* Styling for the contents div */
.primary-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--surface-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 50vw;
    max-height: 90vh;
}

.primary-content h1,
p {
    width: 100%;
}

.primary-content h1,
p {
    text-align: center;
}

.primary-content p {
    color: var(--text-secondary-color);
}

.primary-content a {
    color: var(--highlight-color)
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}

.htmx-request button {
    display: none;
}

.form-container {
    width: 50%;
}

.form-container p {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: none;
    word-wrap: break-word;
    word-break: break-all;
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: var(--highlight-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
    background-color: var(--accent-color);
}
