@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-item {
        @apply font-extrabold cursor-pointer p-2 rounded-3xl hover:bg-purple-300 transition-all duration-200 animate-once animate-fade-right;
    }

    .form-item {
        @apply flex flex-col text-2xl font-extrabold m-4;
    }

    .primary-content {
        @apply animate-fade-right animate-once;
    }

    label {
        @apply mb-2 mt-6;
    }

    button[type="submit"] {
        @apply mt-4 p-2 bg-green-300 hover:bg-purple-300 transition-all duration-200 rounded-lg;
    }

    body {
        @apply bg-[#FEFEFA] dark:bg-zinc-800;
    }

    h1,
    h2,
    h3,
    a,
    p,
    span,
    label,
    code {
        font-family: "Rubik", serif;
        font-weight: 400;
        margin: 0px;
        @apply text-gray-700 dark:text-white;
    }

    input[type="file"] {
        @apply text-gray-700 dark:text-white;
    }

    h1,
    h2 {
        @apply font-extrabold tracking-wide underline;
    }

    h1 {
        @apply text-6xl mb-10 animate-fade-left animate-once;
    }

    h2 {
        @apply text-4xl mb-8;
    }

    h3 {
        @apply text-2xl tracking-wide m-2;
    }

    p {
        @apply ml-4;
    }

    a {
        @apply text-green-300;
    }

}
