 /* Bordered form */
 .login-form {
     border: 3px solid #f1f1f1;
 }

 /* Full-width inputs */
 .login-container input[type=text],
 input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 /* Set a style for all buttons */
 .login-container button {
     background-color: #04AA6D;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }

 /* Add a hover effect for buttons */
 .login-container button:hover {
     opacity: 0.8;
 }

 /* Extra style for the cancel button (red) */
 .login-cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
 }


 /* Add padding to containers */
 .login-container {
     padding: 16px;
 }
