.project-form-container {
    width: 100%;
    padding-bottom: 40px;
}

.project-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.project-list-container {
    width: 45%;
    border-radius: 8px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-list-container:hover {
    cursor: pointer;
    box-shadow: 0 7px 7px var(--accent-color);
    transition-duration: 0.4s;
    background-color: var(--hover-background);
}

.project-list-container::before,
::after,
* {
    box-sizing: border-box;
    border: 0 solid #FFFFFF;
}


.project-list-container h3,
p {
    text-align: center;
}
